//media queries - mixin from bootstrap source files

//for your knowledge it are such compartments (przedziały):
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) { ... }
//
//// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }
//
//// Large devices (desktops, 992px and up)
//@media (min-width: 992px) { ... }
//
//// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) { ... }

@import "../bootstrap-4.0.0/scss/_functions.scss";
@import "../bootstrap-4.0.0/scss/_variables.scss";
@import "../bootstrap-4.0.0/scss/mixins/_breakpoints.scss";
@import "../bootstrap-4.0.0/scss/mixins/_breakpoints.scss";

@include media-breakpoint-down(xs) {

    //general styles
    .display-4{
        font-size: 2em;
    }
    p{
        font-size: 1em;
    }
     .card-columns {
        column-count: 1;
    }
    //header - logo - jumbotron styles
    .jumbotron {
        h1 {
            font-size: 4em;
        }

        p.animated {
            font-size: 1em;
        }
    }

    //pricelist section
    .pricelist {
        .card-body {
            @include padding-left-right;
            .container {
                @include padding-left-right;
            }

            li {
                @include padding-left-right;
                font-size: 0.9em;

                div {
                    @include padding-left-right;
                }
            }

            table {
                font-size: 0.7em;
            }
        }
    }


//offer cards section
.translations-cards{
    .card {
        margin-top: 1em;
    }
}

//blog section
    .blog-topics, .reference {
        p{
            font-size: 0.9em;
        }
    }

//contact section
      .contact{
        .alert{
             @include border;
            p{font-size: 1em;}
        }
    }
//end of xs section media queries
}

@include media-breakpoint-only(sm) {
    .card-columns {
        column-count: 2;
    }
      .contact{
        .alert{
            p{font-size: 1em;}
               @include border;
        }
    }
}

@include media-breakpoint-only(md) {
      .card-columns {
        column-count: 2;
    }
     .contact{
        .alert{
            p{font-size: 1.5em;}
               @include border;
        }
    }
}

@include media-breakpoint-only(lg) {
      .card-columns {
        column-count: 3;
    }
      .contact{
        .alert{
            p{font-size: 1.7em;}
               @include border;
        }
    }
}

@include media-breakpoint-only(xl) {
         .card-columns {
        column-count: 4;
    }
      .contact{
        .alert{
            p{font-size: 1.9em;}
               @include border;
        }
    }
}
