body {
  background-color: #e4f7f7;
  background: -webkit-gradient(linear, left top, left bottom, from(#b5e8e8), color-stop(15%, #e4f7f7), color-stop(30%, #b5e8e8), color-stop(50%, white), color-stop(75%, #b5e8e8));
  background: linear-gradient(180deg, #b5e8e8 0%, #e4f7f7 15%, #b5e8e8 30%, white 50%, #b5e8e8 75%); }

.blog-topics .card,
.translations-cards .card,
.pricelist .card,
.reference .card {
  border: 0.2rem solid #e35d6a;
  border-radius: 10px; }

h3 {
  font-size: 1.3rem; }

.jumbotron .jumbotron-fluid .background {
  background-color: black; }

.alert p { 
  color: #a0a0a0; }

.alert a {
  color: #a0a0a0; }
  .alert a:hover, .alert a:active, .alert a:focus {
    color: black;
    text-decoration: none; }

.alert button .agree { 
  background-color: #e35d6a; }

.alert button .not-now {
  background-color: #a0a0a0; } 

nav.navbar.navbar-expand-lg {
  opacity: 0.8;
  background-color: #e35d6a; }
  nav.navbar.navbar-expand-lg .collapse.navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
    color: white;
    margin-right: 0.7rem; }
    nav.navbar.navbar-expand-lg .collapse.navbar-collapse ul.navbar-nav li.nav-item a.nav-link:hover {
      color: #b5e8e8;
      text-decoration: none; }

i {
  margin-right: 0.5rem;
  color: #e4f7f7; }

.jumbotron {
  background-color: #e35d6a;
  opacity: 0.8; }
  .jumbotron h1 {
    font-family: "Dancing Script", cursive; }

.translations-cards {
  margin-bottom: 1rem; }
  .translations-cards a.btn {
    -webkit-box-shadow: 7px 7px 23px -4px black;
    box-shadow: 7px 7px 23px -4px black;
    background-color: #e35d6a;
    border-color: #ba202f;
    color: white;
    margin: 0 auto 0 auto;
    display: block;
    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear; }
    .translations-cards a.btn:hover {
      opacity: 0.8; }
    .translations-cards a.btn:hover {
      -webkit-transform: scale(1.02);
      transform: scale(1.02); }
  .translations-cards p.card-text {
    text-align: justify;
    text-indent: 1.5em;
    color: #a0a0a0; }
  .translations-cards h3.card-title {
    text-align: center;
    padding: 1rem;
    color: black; }

.collapse table,
.collapse li {
  color: #a0a0a0; }

.collapse td .badge {
  font-size: 0.5em;
  vertical-align: top; }

.card-header {
  background: #e35d6a;
  border-radius: 24px 24px 24px 0px;
  border: 0.05rem solid white;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear; }
  .card-header:hover {
    opacity: 0.8; }
  .card-header:active {
    text-decoration: none; }
  .card-header button {
    color: #a0a0a0;
    -webkit-transition: -webkit-transform 0.5s linear;
    transition: -webkit-transform 0.5s linear;
    transition: transform 0.5s linear;
    transition: transform 0.5s linear, -webkit-transform 0.5s linear; }
    .card-header button:hover, .card-header button:active, .card-header button:focus {
      color: #a0a0a0;
      text-decoration: none; }
    .card-header button:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }

.blog-topics .card a {
  color: #ba202f; }
  .blog-topics .card a:hover, .blog-topics .card a:active, .blog-topics .card a:focus {
    color: #a0a0a0;
    text-decoration: none; }

.blog-topics p.card-text {
  text-align: justify;
  text-indent: 1.5em; }

.blog-topics small {
  color: white; }

div.container.reference div.card div.card-body blockquote {
  color: #a0a0a0;
  text-align: justify;
  text-indent: 1.5em; }

div.container.reference div.card div.card-body h5.card-title {
  text-align: center;
  color: #a0a0a0; }

.contact {
  margin-bottom: 4rem; }

.background-table {
  background: white;
  border: 0.2rem solid #e35d6a;
  border-radius: 10px; }

.map-responsive iframe {
  border: 0.2rem solid #e35d6a;
  border-radius: 10px; }

footer a {
  padding: 0;
  margin: 0;
  color: white; }
  footer a:hover, footer a:active, footer a:focus {
    color: #a0a0a0;
    text-decoration: none; }

.other-sites-general a {
  color: #a0a0a0; }
  .other-sites-general a:hover, .other-sites-general a:active, .other-sites-general a:focus {
    color: black;
    text-decoration: none; }

.other-sites-general .card-header {
  font-family: "Dancing Script", cursive;
  background-color: #e4f7f7; }

.other-sites-general p {
  text-align: justify;
  text-indent: 1.5em; }

.other-sites-general .text-muted {
  font-size: 0.8em;
  text-align: left;
  text-indent: 0; }

.other-sites-general blockquote {
  border-left: 5px solid rgba(221, 221, 221, 0.87);
  padding-left: 0.5rem;
  margin-left: 3rem;
  position: relative; }

.other-sites-general blockquote::after {
  position: absolute;
  bottom: 0;
  right: auto;
  color: #eee;
  font-size: 10em;
  line-height: 0;
  content: '"';
  font-family: "Dancing Script", cursive; }

.other-sites-general h3 {
  margin-top: 2rem; }

.other-sites-general ul {
  margin: 2rem 0; }

.text-logo {
  padding: 2rem 4rem;
  border: 0.2rem solid #e35d6a;
  border-radius: 10px; }
  .text-logo h2 {
    font-family: "Dancing Script", cursive; }

@media (max-width: 575.98px) {
  .display-4 {
    font-size: 2em; }
  p {
    font-size: 1em; }
  .card-columns {
    -webkit-column-count: 1;
    column-count: 1; }
  .jumbotron h1 {
    font-size: 4em; }
  .jumbotron p.animated {
    font-size: 1em; }
  .pricelist .card-body {
    padding-right: 0.3em;
    padding-left: 0.3em; }
    .pricelist .card-body .container {
      padding-right: 0.3em;
      padding-left: 0.3em; }
    .pricelist .card-body li {
      padding-right: 0.3em;
      padding-left: 0.3em;
      font-size: 0.9em; }
      .pricelist .card-body li div {
        padding-right: 0.3em;
        padding-left: 0.3em; }
    .pricelist .card-body table {
      font-size: 0.7em; }
  .translations-cards .card {
    margin-top: 1em; }
  .blog-topics p, .reference p {
    font-size: 0.9em; }
  .contact .alert {
    border: 0.2rem solid #e35d6a;
    border-radius: 10px; }
    .contact .alert p {
      font-size: 1em; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2; }
  .contact .alert {
    border: 0.2rem solid #e35d6a;
    border-radius: 10px; }
    .contact .alert p {
      font-size: 1em; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2; }
  .contact .alert {
    border: 0.2rem solid #e35d6a;
    border-radius: 10px; }
    .contact .alert p {
      font-size: 1.5em; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-columns {
    -webkit-column-count: 3;
    column-count: 3; }
  .contact .alert {
    border: 0.2rem solid #e35d6a;
    border-radius: 10px; }
    .contact .alert p {
      font-size: 1.7em; } }

@media (min-width: 1200px) {
  .card-columns {
    -webkit-column-count: 4;
    column-count: 4; }
  .contact .alert {
    border: 0.2rem solid #e35d6a;
    border-radius: 10px; }
    .contact .alert p {
      font-size: 1.9em; } }
